body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .product-info {
    margin: 20px;
  }
  
  .product-info img {
    
  }
  .gf{
   
  }
  
  h1, h2 {
    color: #333;
  }
  
  button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
  }
  
  footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  